# __Advanced SQL Techniques__

## __Concept Overview__
## Topics
- ## DQL (Data Query Language)
- ## Sorting and Filtering Data
- ## Complex Queries and Subqueries
- ## Data Control Language (DCL)

## __DQL (Data Query Language)__
## DQL statements are used to retrieve data from database tables, allowing you to query and filter data based on specific conditions. DQL provides a way to select and retrieve data from one or more tables in a database, enabling you to access and analyze the stored information. Here are common commands:

- ## __SELECT__: Used to retrieve data from one or more tables. Example: SELECT * FROM Customers; (selects all columns and rows from the Customers table)
- ## __WHERE__: Used to filter rows based on specified conditions. Example: SELECT * FROM Customers WHERE City = 'New York';
- ## __JOIN__: Used to combine rows from two or more tables based on a related column between them. Example: SELECT Customers.Name, Orders.OrderDate FROM Customers JOIN Orders ON Customers.CustomerID = Orders.CustomerID;

In [ ]:
"""
SELECT FirstName, LastName, Email
FROM Students
WHERE EnrollmentDate >= '2022-01-01'
ORDER BY LastName ASC;
"""

"\nSELECT FirstName, LastName, Email\nFROM Students\nWHERE EnrollmentDate >= '2022-01-01'\nORDER BY LastName ASC;\n"

## This DQL statement selects the FirstName, LastName, and Email columns from the “Students” table, filters the results to include only students who enrolled on or after January 1, 2022, and orders the results by LastName in ascending order.

# __Sorting and Filtering Data__
# __Sorting__
## Sorting allows you to arrange your data set based on a specific column, like organizing books alphabetically by title. In SQL, you achieve this using the ORDER BY clause.

## how it works:

- ## Specifying the Order: After the SELECT statement, include the ORDER BY clause followed by the column name(s) you want to sort by.
- ## Ascending or Descending?: By default, sorting is ascending (A to Z or lowest to highest for numbers). You can use the ASC keyword to explicitly define ascending order or DESC for descending order.

In [ ]:
"""
SELECT * FROM Products ORDER BY Price ASC;
"""

'\nSELECT * FROM Products ORDER BY Price ASC;\n'

# __Filtering: Focusing on the Relevant__
## Filtering allows you to narrow down your data set based on specific criteria. Imagine searching the library catalog for books published after 2020. Filtering achieves a similar function.

## The WHERE clause is your key tool for filtering in SQL.
## Breakdown:

- ## Defining Conditions: The WHERE clause comes after the FROM clause and lets you specify conditions that rows must meet to be included in the results. You use comparison operators (=, >, <, etc.) and logical operators (AND, OR, NOT) to combine these conditions.
- ## Filtering Logic: Only rows that satisfy all the conditions (when using AND) or at least one condition (when using OR) are included in the final result set.

In [ ]:
"""
SELECT * FROM Customers WHERE City = 'New York' AND Age > 25;

SELECT * FROM Orders WHERE OrderStatus = 'Shipped' AND OrderDate > '2023-01-01';
"""

"\nSELECT * FROM Customers WHERE City = 'New York' AND Age > 25;\n\nSELECT * FROM Orders WHERE OrderStatus = 'Shipped' AND OrderDate > '2023-01-01';\n"

# __Complex Queries and Subqueries__
## Complex queries involve the use of multiple SQL clauses and operators to retrieve or manipulate data from one or more tables. They allow for more sophisticated data retrieval and analysis than simple queries. Complex queries are used to perform advanced data analysis, generate reports, and extract valuable insights from databases.

## __Components of Complex Queries__

- ## __Joins__: Combining data from multiple tables based on related columns using JOIN clauses (e.g., INNER JOIN, LEFT JOIN, RIGHT JOIN).
- ## __Aggregation__: Grouping and summarizing data using aggregate functions (e.g., SUM, AVG, COUNT) and GROUP BY clauses.
- ## __Subqueries__: Nesting queries within other queries to perform operations or filter data.
- ## __Set Operations__: Combining results of multiple queries using set operators (e.g., UNION, INTERSECT, EXCEPT).

## __JOIN: Combining data from multiple tables__
## JOIN is a powerful concept in SQL that allows you to combine data from two or more tables based on a shared relationship between them. This is essential when you’re working with relational databases where information is often distributed across multiple tables.

## There are different types of JOINs, each serving a specific purpose:

- ## __INNER JOIN__: This is the most common type of JOIN. It returns only rows where there’s a match in both tables based on the join condition.
- ## __LEFT JOIN__: This JOIN includes all rows from the left table (specified before the JOIN keyword) and matching rows from the right table. Rows from the right table with no match will have NULL values in the corresponding columns.
- ## __RIGHT JOIN__: Similar to LEFT JOIN, but it includes all rows from the right table and matching rows from the left table. Left table mismatches will result in NULL values.
- ## __FULL JOIN__: This JOIN returns all rows from both tables, regardless of whether there’s a match in the other table. Unmatched rows will have NULL values in the corresponding columns.

## Example of an INNER JOIN:

## Imagine you have two tables: “Customers” and “Orders”. The “Customers” table has a “CustomerID” column, and the “Orders” table has a “CustomerID” foreign key that references the “Customers” table.

In [ ]:
"""
SELECT c.Name, o.OrderID, o.OrderDate
FROM Customers c
INNER JOIN Orders o ON c.CustomerID = o.CustomerID;
"""

'\nSELECT c.Name, o.OrderID, o.OrderDate\nFROM Customers c\nINNER JOIN Orders o ON c.CustomerID = o.CustomerID;\n'

## This query retrieves customer names (Name from Customers table) along with their order details (OrderID and OrderDate from Orders table) based on the matching “CustomerID” values.

## __Aggregation__
## Aggregation in SQL involves applying aggregate functions to groups of rows in a table to summarize data and perform calculations. It allows for the analysis of large datasets by condensing information into meaningful insights. Aggregation is used to perform calculations on groups of data, such as calculating sums, averages, counts, minimums, and maximums.

## __Aggregate Functions__

- ## __SUM__: Calculates the sum of values in a column.
- ## __AVG__: Calculates the average of values in a column.
- ## __COUNT__: Counts the number of rows in a group.
- ## __MIN__: Finds the minimum value in a column.
- ## __MAX__: Finds the maximum value in a column.



## Examples

In [ ]:
"""
SELECT Department, COUNT(*) AS EmployeeCount FROM Employees GROUP BY Department;
SELECT ProductCategory, AVG(UnitPrice) AS AvgPrice FROM Products GROUP BY ProductCategory;
SELECT OrderDate, SUM(TotalAmount) AS TotalSales FROM Orders GROUP BY OrderDate;
"""

'\nSELECT Department, COUNT(*) AS EmployeeCount FROM Employees GROUP BY Department;\nSELECT ProductCategory, AVG(UnitPrice) AS AvgPrice FROM Products GROUP BY ProductCategory;\nSELECT OrderDate, SUM(TotalAmount) AS TotalSales FROM Orders GROUP BY OrderDate;\n'

# __Subqueries__
## Subqueries, also known as nested queries or inner queries, are SQL queries nested within another query. They are used to perform operations or filter data based on the results of another query. Subqueries allow for more complex and flexible querying by enabling dynamic filtering, calculations, and data manipulations.

## __Types of Subqueries__

- ## __Single-row Subqueries__: Return a single value or row and are used with single-row operators (e.g., =, >, <).
- ## __Multiple-row Subqueries__: Return multiple rows and are used with multiple-row operators (e.g., IN, ANY, ALL).
- ## __Correlated Subqueries__: Reference columns from the outer query within the subquery, allowing for correlated operations.

## Examples:

In [ ]:
"""
SELECT ProductName
FROM Products
WHERE UnitPrice > (SELECT AVG(UnitPrice) FROM Products);
"""

'\nSELECT ProductName\nFROM Products\nWHERE UnitPrice > (SELECT AVG(UnitPrice) FROM Products);\n'

# __DCL (Data Control Language)__
## DCL statements are used to manage user access and permissions within a database, ensuring data security and controlling who can access and modify data. DCL provides a way to grant or revoke privileges to users or roles, allowing you to control access to specific database objects or operations. Here are common commands:

- ## __GRANT__: Used to grant specific privileges or roles to users or other roles. Example: GRANT SELECT, INSERT ON Customers TO UserRole;
- ## __REVOKE__: Used to revoke or remove previously granted privileges or roles from users or other roles. Example: REVOKE SELECT ON Customers FROM UserRole;

In [ ]:
"""
CREATE ROLE StudentAdmin;
GRANT SELECT, INSERT, UPDATE, DELETE ON Students TO StudentAdmin;
CREATE USER 'admin_user' IDENTIFIED BY 'password123';
GRANT StudentAdmin TO 'admin_user';
"""

"\nCREATE ROLE StudentAdmin;\nGRANT SELECT, INSERT, UPDATE, DELETE ON Students TO StudentAdmin;\nCREATE USER 'admin_user' IDENTIFIED BY 'password123';\nGRANT StudentAdmin TO 'admin_user';\n"

##These DCL statements create a new role called “StudentAdmin”, grant privileges (SELECT, INSERT, UPDATE, DELETE) on the “Students” table to that role, create a new user ‘adminuser’ with a password, and grant the “StudentAdmin” role to the ‘adminuser’ user, effectively giving them permissions to manage the “Students” table.