# __Integrating Python with MySQL Databases__

## __Concept Overview__
##Topics
- ## __Introduction to mysql-connector-python__
- ## Working with Cursors
- ## Executing SQL Queries (SELECT, INSERT, UPDATE, DELETE)
## A Complete Example

## __Objectives__
- ## Install and use the mysql-connector-python library
- ## Establish a connection to a MySQL database server
- ## Understand the concept of cursors in database interactions
- ## Execute basic SQL queries (SELECT, INSERT, UPDATE, DELETE) using Python

# __Introduction to mysql-connector-python__
## mysql-connector-python is a popular library that bridges the gap between Python and MySQL databases. It provides a comprehensive interface for interacting with MySQL servers, allowing you to execute queries, manipulate data, and manage database objects.

# __Installation__
## The recommended way to install __mysql-connector-python__ is using pip, the Python package manager. Open your terminal or command prompt and run the following command, which download and install the library.

In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 36.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

# __Connecting to MySQL Database__
## Once you have mysql-connector-python installed, we can start interacting with your MySQL database server. Here’s an example of how to connect:

In [ ]:
"""
import mysql.connector

# Replace with your connection details
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

print(mydb.get_server_info())
"""

'\nimport mysql.connector\n\n# Replace with your connection details\nmydb = mysql.connector.connect(\n    host="localhost",\n    user="yourusername",\n    password="yourpassword",\n    database="yourdatabase"\n)\n\nprint(mydb.get_server_info())\n'

## This code snippet imports the library, establishes a connection using the connect method, and retrieves some server information using __get_server_info.__ Remember to replace the connection details with your actual credentials and database name.

# __Working with Cursors__
## Cursors are objects used to execute SQL statements and fetch results from the database. You can create a cursor using the cursor method of the connection object. With the cursor in hand, you can execute various SQL queries. Once you’re finished working with the database, ensure you close the connection to release resources

## Examples:

In [ ]:
"""
import mysql.connector

# Replace with your connection details
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

mycursor = mydb.cursor()
# Execute SQL statements using the execute() method on the cursor

# Close connection to the databasse
mycursor.close()
mydb.close()
"""

'\nimport mysql.connector\n\n# Replace with your connection details\nmydb = mysql.connector.connect(\n    host="localhost",\n    user="yourusername",\n    password="yourpassword",\n    database="yourdatabase"\n)\n\nmycursor = mydb.cursor()\n# Execute SQL statements using the execute() method on the cursor\n\n# Close connection to the databasse  \nmycursor.close()\nmydb.close()\n'

# __Executing SQL Queries (SELECT, INSERT, UPDATE, DELETE)__

## __SELECT__ Retrieve data from a table

In [ ]:
"""
mycursor.execute("SELECT * FROM your_table")
myresult = mycursor.fetchall()

for row in myresult:
  print(row)
"""

'\nmycursor.execute("SELECT * FROM your_table")\nmyresult = mycursor.fetchall()\n\nfor row in myresult:\n  print(row)\n'

## __INSERT__ Insert new data into a table

In [ ]:
"""
sql = "INSERT INTO your_table (name, email) VALUES (%s, %s)"
val = ("John", "john@example.com")
mycursor.execute(sql, val)
mydb.commit()  # Commit the changes
"""

'\nsql = "INSERT INTO your_table (name, email) VALUES (%s, %s)"\nval = ("John", "john@example.com")\nmycursor.execute(sql, val)\nmydb.commit()  # Commit the changes\n'

## __UPDATE__ Modify existing data in a table

In [ ]:
"""
sql = "UPDATE your_table SET name = %s WHERE id = %s"
val = ("Jane", 1)
mycursor.execute(sql, val)
mydb.commit() # Commit the changes
"""

'\nsql = "UPDATE your_table SET name = %s WHERE id = %s"\nval = ("Jane", 1)\nmycursor.execute(sql, val)\nmydb.commit() # Commit the changes\n'

## __DELETE__ Remove data from a table

In [ ]:
"""
sql = "DELETE FROM your_table WHERE id = %s"
val = (2,)
mycursor.execute(sql, val)
mydb.commit() # Commit the changes
"""

'\nsql = "DELETE FROM your_table WHERE id = %s"\nval = (2,)\nmycursor.execute(sql, val)\nmydb.commit() # Commit the changes\n'

# __A Complete Example__
## The below code first establishes a connection to your MySQL database server. Then, it creates a table named customers if it doesn’t already exist. It demonstrates inserting two customer records, followed by reading all customer data using a SELECT statement.

## Next, the code updates the email address of a customer with ID 1 and retrieves the updated record. Finally, it deletes the customer with ID 2 and closes the database connections.

In [ ]:
"""
import mysql.connector

# Database connection details (replace with your own)
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="mydb"
)

mycursor = mydb.cursor()

# Create a table named `customers` (if it doesn't exist)
mycursor.execute(\"\"\"
CREATE TABLE IF NOT EXISTS customers (
  id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  email VARCHAR(255) NOT NULL UNIQUE
)
\"\"\")

print("Table created successfully!")

# Insert some customer data
sql = "INSERT INTO customers (name, email) VALUES (%s, %s)"
val = ("John Doe", "john.doe@example.com")
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

val = ("Jane Smith", "jane.smith@example.com")
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

# Read all customer data
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()

print("Customers:")
for row in myresult:
  print(row)

# Update a customer's email
sql = "UPDATE customers SET email = %s WHERE id = %s"
val = ("updated.email@example.com", 1)
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record(s) updated.")

# Read the updated customer data
mycursor.execute("SELECT * FROM customers WHERE id = 1")
myresult = mycursor.fetchone()

print("Updated customer:")
print(myresult)

# Delete a customer
sql = "DELETE FROM customers WHERE id = 2"
mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount, "record(s) deleted.")

# Close connections
mycursor.close()
mydb.close()

print("Database connection closed.")
"""

'\nimport mysql.connector\n\n# Database connection details (replace with your own)\nmydb = mysql.connector.connect(\n    host="localhost",\n    user="yourusername",\n    password="yourpassword",\n    database="mydb"\n)\n\nmycursor = mydb.cursor()\n\n# Create a table named `customers` (if it doesn\'t exist)\nmycursor.execute("""\nCREATE TABLE IF NOT EXISTS customers (\n  id INT AUTO_INCREMENT PRIMARY KEY,\n  name VARCHAR(255) NOT NULL,\n  email VARCHAR(255) NOT NULL UNIQUE\n)\n""")\n\nprint("Table created successfully!")\n\n# Insert some customer data\nsql = "INSERT INTO customers (name, email) VALUES (%s, %s)"\nval = ("John Doe", "john.doe@example.com")\nmycursor.execute(sql, val)\nmydb.commit()\n\nprint(mycursor.rowcount, "record(s) inserted.")\n\nval = ("Jane Smith", "jane.smith@example.com")\nmycursor.execute(sql, val)\nmydb.commit()\n\nprint(mycursor.rowcount, "record(s) inserted.")\n\n# Read all customer data\nmycursor.execute("SELECT * FROM customers")\nmyresult = mycursor.fetchall()\n\nprint("Customers:")\nfor row in myresult:\n  print(row)\n\n# Update a customer\'s email\nsql = "UPDATE customers SET email = %s WHERE id = %s"\nval = ("updated.email@example.com", 1)\nmycursor.execute(sql, val)\nmydb.commit()\n\nprint(mycursor.rowcount, "record(s) updated.")\n\n# Read the updated customer data\nmycursor.execute("SELECT * FROM customers WHERE id = 1")\nmyresult = mycursor.fetchone()\n\nprint("Updated customer:")\nprint(myresult)\n\n# Delete a customer\nsql = "DELETE FROM customers WHERE id = 2"\nmycursor.execute(sql)\nmydb.commit()\n\nprint(mycursor.rowcount, "record(s) deleted.")\n\n# Close connections\nmycursor.close()\nmydb.close()\n\nprint("Database connection closed.")\n'