# __Introduction to Relational Databases.__

## __What is a Database__


- ## A database is an organized collection of data that is stored and managed in a way that allows efficient retrieval, manipulation, and maintenance of information.

- ### Databases are essential components of modern information systems, enabling efficient storage, organization, and retrieval of data. They serve as centralized repositories for managing and manipulating data used by applications, organizations, or individuals. Understanding the concept of a database is crucial for anyone working with data-driven applications or systems.

- ## Databases provide a number of advantages in the storage, organization and management of data. The following some of the main ones.
- ## Efficient Data Management: Databases allow for efficient storage, retrieval, and manipulation of data, enabling organizations to manage large volumes of information effectively.
- ## Data Integrity: With mechanisms such as transactions and constraints, databases ensure the accuracy and consistency of data.
- ## Data Security: Databases provide security features to control access to sensitive information and protect against unauthorized access.
## __Examples of Databases.__

- ## Relational Databases (e.g., MySQL, PostgreSQL, Oracle): Organize data into tables with predefined schema and support SQL (Structured Query Language) for querying and manipulation.
- ## NoSQL Databases (e.g., MongoDB, Cassandra): Designed to handle unstructured or semi-structured data and provide flexible schema.
## __Use Cases.__

- ## E-commerce: Storing product information, customer details, and order history.
- ## Banking: Managing customer accounts, transactions, and financial records.
- ## Healthcare: Storing patient records, medical history, and diagnostic information.

# __Database Management System (DBMS).__
- ## A Database Management System (DBMS) is a software system designed to create, manage, and interact with databases. It acts as an intermediary between the database and the applications or users, providing a structured and organized way to store, retrieve, and manipulate data. Understanding the role and functionality of a DBMS is essential for effectively working with databases.

- ## DBMS provides a set of tools and interfaces for creating, modifying, and querying databases, as well as managing data access, security, backup, and recovery processes. It handles tasks such as defining the database structure (schema), creating and modifying tables, inserting, updating, and deleting data, and enforcing data integrity rules.

## __Main uses of DBMS.__

- ## Handles tasks such as defining the database structure (schema), creating and modifying tables, inserting, updating, and deleting data, and enforcing data integrity rules.
- ## Translates high-level queries (e.g., SQL - Structured Query Language) into low-level operations that interact directly with the physical storage of data on disk or in memory.
- ## Manages concurrent access to data, ensuring that multiple users or applications can access and modify data simultaneously without causing conflicts or data corruption.
- ## Popular examples of DBMS include MySQL, PostgreSQL, Oracle, Microsoft SQL Server, and MongoDB.

# __Types of Databases.__

## __Topics__
- ### SQL - Relational Databases
- ### NoSQL - Non-Relational Databases

# __SQL Databases__
##  QL (Structured Query Language) databases, also known as relational databases, are based on the relational model introduced by E.F. Codd in 1970. They store data in tables with predefined schema and use SQL for querying and manipulation. Data is organized into tables with rows (records) and columns (fields). Tables can be related to each other through foreign keys and join operations.

## SQL databases enforce a strict schema, meaning that the structure of the data (tables, columns, and data types) must be defined in advance and they use Structured Query Language (SQL) for data manipulation and retrieval. SQL databases are well-suited for applications that require complex querying, data integrity, and transactions, such as financial systems, e-commerce platforms, and content management systems.***

## __Characteristics:__

- ## Structured Data: Data is organized into predefined structures with strict schema.
- ## ACID Transactions: SQL databases support ACID (Atomicity, Consistency, Isolation, Durability) transactions to maintain data integrity.
- ## Data Integrity: Enforces data integrity through constraints such as primary keys, foreign keys, and unique constraints.
## __Examples of Databases.__

- ## MySQL: An open-source relational database management system (RDBMS) widely used in web development.
- ## PostgreSQL: A powerful open-source object-relational database system known for its robustness and extensibility.
- ## Oracle: A commercial RDBMS commonly used in enterprise applications.

# __NoSQL Databases__
## NoSQL (Not only SQL) databases are non-relational databases that store and retrieve data in a way that differs from the tabular structure used in relational databases. They are designed to handle unstructured or semi-structured data and provide flexible schemas. NoSQL databases can be categorized into different types, including key-value stores, document-oriented databases, column-family stores, and graph databases.

## NoSQL databases are designed to scale horizontally by distributing data across multiple servers or clusters, making them suitable for handling large volumes of data and high-traffic applications. They often sacrifice some of the ACID properties in favor of higher availability, partition tolerance, and eventual consistency.

## __Characteristics:__

- ## Schema Flexibility: NoSQL databases support flexible schemas, allowing for easier adaptation to evolving data models.
- ## Scalability: Designed for horizontal scalability, enabling distributed storage and processing across multiple nodes.
- ## Variety of Data Models: Support various data models such as document, key-value, columnar, and graph.
## __Examples:__

- ## MongoDB: A popular document-oriented NoSQL database that stores data in flexible JSON-like documents.
- ## Cassandra: A distributed NoSQL database designed for scalability and high availability, commonly used in large-scale distributed systems.
- ## Redis: An in-memory data store that supports various data structures like strings, lists, sets, and hashes.

# __Introduction to SQL.__

# __Concept Overview.__
## __Topics.__
- ## Introduction to Relational Database Concepts
- ## Introduction to SQL
- ## SQL Syntax and Structure
- ## Basic SQL Operations
- ## Installing MySQL

# __Introduction to Relational Database Concepts.__

## __Tables.__
- ## A table is a fundamental component of a relational database, which stores data in a structured format.
- ## Tables consist of rows (records) and columns (fields).
- ## Each table represents a specific entity or concept, such as “Customers,” “Orders,” or “Products.”
Tables are defined with a schema that specifies the names of columns, data types, and constraints.

## __Rows.__
- ## Rows, also known as records, represent individual instances or occurrences of the entity represented by the table.
- ## Each row in a table contains a unique set of values for the columns defined in the table’s schema.
- ## For example, in a “Customers” table, each row would represent a single customer with their respective data (name, address, email, etc.).

## __Columns.__
- ## Columns, also known as fields, define the attributes or characteristics of the entity represented by the table.
- ## Each column has a name and a specific data type (e.g., text, numeric, date, etc.) that defines the type of data it can store.
- ## Columns often have constraints, such as “NOT NULL” to ensure that a value is always provided, or “UNIQUE” to prevent duplicate values.
- ## For example, in a “Customers” table, columns might include “CustomerID,” “FirstName,” “LastName,” “Email,” and “Phone.”

# __Relationships.__
- ## Relational databases allow tables to be related to each other through the use of primary keys and foreign keys.
- ## A primary key is a column or a combination of columns that uniquely identifies each row in a table.
- ## A foreign key is a column or a combination of columns that references the primary key of another table, establishing a relationship between the two tables.
Relationships enable data to be efficiently queried and combined from multiple tables, ensuring data integrity and eliminating redundancy.

# __Introduction to SQL.__
## SQL (Structured Query Language) is a programming language designed for managing and manipulating relational databases. It serves as the standard language for interacting with SQL databases, such as MySQL, PostgreSQL, Oracle, and Microsoft SQL Server. SQL provides a standardized way to perform various operations on databases, including creating, modifying, and querying data. It uses a structured, English-like syntax, making it relatively easy to learn and understand, even for non-programmers

## SQL is a declarative language, meaning that you specify what data you want to retrieve or manipulate, rather than providing step-by-step instructions on how to do it. It is widely adopted and supported by various database management systems (DBMS), ensuring portability and compatibility across different platforms. SQL is essential for data analysts, database administrators, and developers working with relational databases and data-driven applications.

# __SQL Syntax and Structure.__
## SQL follows a specific syntax and structure, consisting of various statements and clauses. Understanding the syntax and structure is crucial for writing correct and efficient SQL queries.

## SQL statements can be categorized into several types, including:

- ## __Data Definition Language (DDL)__: Used for creating, modifying, and deleting database objects like tables and indexes (e.g., CREATE, ALTER, DROP).
- ## __Data Manipulation Language (DML)__: Used for inserting, updating, and deleting data within tables (e.g., INSERT, UPDATE, DELETE).
- ## __Data Query Language (DQL)__: Used for retrieving data from tables (e.g., SELECT).
- ## __Data Control Language (DCL)__: Used for managing user access and permissions (e.g., GRANT, REVOKE).

# __SQL Data Types.__
## SQL supports various data types to store different kinds of data in a database. Here are some common SQL data types:

- ## __Numeric Types__: Used to store numbers. Examples: INTEGER, SMALLINT, BIGINT, DECIMAL, NUMERIC, FLOAT.
- ## __Character Types__: Used to store text data. Examples: CHAR, VARCHAR, TEXT.
- ## __Date and Time Types__: Used to store date and time values. Examples: DATE, TIME, DATETIME, TIMESTAMP.
- ## __Boolean Type__: Used to store logical values (true or false). Example: BOOLEAN.
## Data types are important because they define the kind of data that can be stored in a column and ensure data integrity by preventing invalid data from being inserted.

# __Basic SQL Operations.__

## __Creating a Table.__

In [ ]:
"""
CREATE TABLE Employees (
  EmployeeID INT PRIMARY KEY,
  FirstName VARCHAR(50) NOT NULL,
  LastName VARCHAR(50) NOT NULL,
  Email VARCHAR(100) UNIQUE,
  HireDate DATE
);
"""

'\nCREATE TABLE Employees (\n  EmployeeID INT PRIMARY KEY,\n  FirstName VARCHAR(50) NOT NULL,\n  LastName VARCHAR(50) NOT NULL,\n  Email VARCHAR(100) UNIQUE,\n  HireDate DATE\n);\n'

## This statement creates a new table named “Employees” with columns for EmployeeID (as the primary key), FirstName, LastName, Email (with a unique constraint), and HireDate. The data types for each column are specified, and constraints like NOT NULL and UNIQUE are applied.

# __Inserting Data into a Table.__

In [ ]:
"""
INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate)
VALUES (1, 'John', 'Doe', 'john.doe@example.com', '2022-05-15');

INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate)
VALUES (2, 'Jane', 'Smith', 'jane.smith@example.com', '2021-08-22'),
       (3, 'Michael', 'Johnson', 'michael.johnson@example.com', '2023-02-01');
"""

"\nINSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate)\nVALUES (1, 'John', 'Doe', 'john.doe@example.com', '2022-05-15');\n\nINSERT INTO Employees (EmployeeID, FirstName, LastName, Email, HireDate)\nVALUES (2, 'Jane', 'Smith', 'jane.smith@example.com', '2021-08-22'),\n       (3, 'Michael', 'Johnson', 'michael.johnson@example.com', '2023-02-01');\n"

## These statements insert new records (rows) into the “Employees” table. The first statement inserts a single record, while the second statement demonstrates how to insert multiple records in one statement by separating the value sets with commas.

# __Selecting Data from a Table.__

In [ ]:
"""
SELECT * FROM Employees;
"""

'\nSELECT * FROM Employees;\n'

## This statement retrieves all columns and rows from the “Employees” table.

In [ ]:
"""
SELECT FirstName, LastName, Email FROM Employees;
"""

'\nSELECT FirstName, LastName, Email FROM Employees;\n'

## This statement retrieves only the FirstName, LastName, and Email columns from the “Employees” table.

# __Installing MySQL.__

## __Installing on Windows.__
## __Download MySQL.__
## Download MySQL installer from https://dev.mysql.com/downloads/installer/ and execute it. On this page you can select the version you would like to install. You can choose the web installer or the offline installer.

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20151308.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20151840.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20153434.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20153954.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20154425.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20154745.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20155101.png)

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20155550.png)

# __Installing MySQL on Linux.__

## Below instruction is for __Ubuntu__ distribution.

### 1. Update the package index

In [ ]:
"""
suo apt update
"""

'\nsuo apt update\n'

### 2.Install __mysql-server.__

In [ ]:
"""
sudo apt install mysql-server
"""

'\nsudo apt install mysql-server\n'

### 3. Ensure the server is running - it should start automatically but to make sure it is running execute the below command

In [ ]:
"""
sudo systemctl start mysql.service
"""

'\nsudo systemctl start mysql.service\n'

### 4. Run MySQL

In [ ]:
"""
sudo mysql
"""

'\nsudo mysql\n'

### 5. Setup password for root user. Copy paste the below command and change the password string to your password

In [ ]:
"""
sudo mysql

mysql > ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password';
"""

"\nsudo mysql\n\nmysql > ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password';\n"

![My Screenshot](https://raw.githubusercontent.com/IruraMwongera/irurajackblogs/main/Screenshot%202025-06-24%20160929.png)

### 6. Access MySQL with your password with the following command and enter your password when asked.

In [ ]:
"""
mysql -u root -p
"""

'\nmysql -u root -p\n'